body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
}

.app {
  width: 400px;
  margin: 40px auto;
  background: white;
  padding: 20px;
  border-radius: 8px;
}

h1 {
  text-align: center;
}


.input-section {
  display: flex;
  gap: 10px;
}

input {
  flex: 1;
  padding: 8px;
}

button {
  padding: 6px 10px;
  cursor: pointer;
}

li {
  list-style: none;
  margin: 10px 0;
}

.completed span {
  text-decoration: line-through;
  color: gray;
}
